<header>
  <a href=<%= root_path %>>
    <%=image_tag("EasterIslandHead.png", alt:"Site Logo", size:"40") %>
  </a>
</header>

<h1>You found a new Egg!</h1>

<%= render 'form', egg: @egg %>

<%= link_to 'Back', eggs_path %>
