@import "~bootstrap/scss/bootstrap";

a {
    font-size: larger;
    font-family:fantasy;
}

h1 {
    color:#36A9AE
}

text {
    color:#f0f8ff
}

body {
    background-color: #000000;
    padding: 15px;
}

.formHeader h1 {
    font-family: fantasy;
    color:aquamarine

}

.eggShell {
    padding: 10px 10px 10px;
    margin: 10px 10px 5px;
    background-color: #f0fff4;
    border-radius: 5px;
    color:#175E17;
}

.yolk {
    padding: 5px 5px 5px;
    margin: 5px 5px 5px;
    background-color: aliceblue;
    border-radius: 5px;
    color:#000000
}

.field {
    color:#f0f8ff
}

table {
    font-family: fantasy-light;
    padding: 10px 10px 10px;
    margin: 10px 10px 5px;
    background-color: aliceblue;
    border-radius: 5px;
    color:#175E17;
}

.eggShell button{
    background-color: #36A9AE;
    color: #FFFFAF;
    cursor: pointer;
    font-size: 17px;
    width: 60%;
    border-radius: 5px;

}